.container {
  width: 100%;
  overflow-x: hidden;
}

// Estilos de propriedades similares entre seções
section {
  min-height: 100vh;
  display: flex;
  align-items: center;

  h1 {
    font: 700 3rem var(--font-title);
    color: var(--blue-title);
  }

  h2 {
    font: 700 2rem var(--font-title);
    color: var(--blue-title);
  }

  h3 {
    font: 700 1.5rem var(--font-title);
    color: var(--blue-title);
  }

  p {
    margin: 1rem 0;
    color: var(--gray-text);
    line-height: 1.55rem;
  }
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

// Seção de introdução
.introductionContent {
  position: relative;
  overflow-x: hidden;

  > img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
  }

  div {
    div {
      display: flex;
      flex-direction: row;
      padding: 1rem 0;
      margin: 0;

      input {
        width: 343px;
        height: 52px;
        color: var(--gray-text);
        padding: 0 1rem;
        border: 1px solid var(--blue-title);
        border-radius: 5px;
      }
      button {
        width: 52px;
        height: 52px;
        margin-left: 0.5rem;
        padding: 1rem;
      }
    }
  }
}

// Seção de receitas
.recipesContent {
  background: var(--gray-background);
  align-items: flex-start;

  > div {
    display: flex;
    align-items: center;
    margin: 2rem auto 5rem auto;

    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
}

// Seção de serviços
.servicesContent {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
  }

  > div {
    > div {
      width: 50%;
      margin-left: auto;
      align-items: baseline;
    }
  }
}

// Seção de blog
.blogContent {
  background: var(--gray-background);

  > div {
    align-items: center;
    justify-content: center;
    position: relative;

    > p {
      margin-bottom: 2rem;
      text-align: center;
    }

    > div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .whiteShadow {
      position: absolute;
      content: "";
      top: 150px;
      right: 0;
      width: 300px;
      height: 450px;
      box-shadow: inset -100px 0 75px rgba(252, 252, 252, 0.5);
      z-index: 999;
    }
  }
}

// Seção para captação do cliente
.clientContent {
  position: relative;
  overflow-x: hidden;

  img {
    position: absolute;
    top: 0;
    right: -73px;
    height: 100%;
    z-index: -1;
  }

  > div {
    position: relative;

    > div {
      position: absolute;
      top: 0;
      left: 10%;
      width: 50%;
      display: flex;
      flex-direction: column;

      input {
        width: 343px;
        height: 52px;
        border: 1px solid #707070;
        border-radius: 7px;
        text-align: center;
        margin: 1rem 1rem 0 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .servicesContent {
    > img {
      left: -100px;
    }
  }
  .clientContent,
  .introductionContent {
    > img {
      right: -100px;
    }
  }
}

@media (max-width: 992px) {
  .servicesContent {
    > img {
      left: -300px;
    }
  }
  .clientContent,
  .introductionContent {
    > img {
      right: -350px;
    }
  }
}

@media (max-width: 768px) {
  section {
    min-height: 80vh;
  }

  .introductionContent {
    > img {
      display: none;
    }

    div {
      align-items: center;

      h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }
  }

  .servicesContent {
    div {
      margin: 0 1rem 0 auto;
      text-align: center;

      > div {
        width: 60%;

        h2 {
          margin-bottom: 2rem;
        }

        button {
          margin-top: 2rem;
          width: 70%;
        }
      }
    }
  }

  .blogContent{
    
    >div .whiteShadow {
      top: 150px;
      width: 125px;
      right: -25px;
    }
  }

  .clientContent {
    min-height: 60vh;

    div {
      margin: 0 auto;
      align-items: center;
      text-align: center;

      > div {
        position: static;
        width: 70%;

        input {
          width: 100%;
          margin-top: 2rem;
        }

        button {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .introductionContent,
  .servicesContent,
  .clientContent {
    > img {
      display: none;
    }
  }


  .introductionContent {
    div {
      h1 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
      }

      div {
        width: 80%;

        input {
          flex-grow: 4;
          width: auto;
        }
      }
    }
  }

  .servicesContent {
    div > div {
      width: 80%;
      margin: 0 auto;

      button {
        width: 100%;
      }
    }
  }
  
  .blogContent{
    
    >div .whiteShadow {
      top: 140px;
      right: -250px;
    }
  }

  .clientContent {
    img{
      top: 0;
      right: 0;
    }

    div > div {
      width: 100%;
    }
  }
}
