.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white-background) url('../../assets/images/signup.svg') no-repeat;
  
 
  form {
    display:flex;
    flex-direction: column;
    background: var(--green-primary);
    max-width: 600px;

    input{
      width: 300px;
      height: 52px;
      border: 1px solid var(--gray-text);
      border-radius: 7px;
    }
  }
}